<div class="addContainer">
  <div class="modalHeader">
    <div class="avatarDetails">
      <!--<label class="hoverable" for="tableFileInput">
        <img [src]='employeeSalary.img' alt="avatar">
      </label>-->
      <div class="modalTitle">
        {{dialogTitle}} <p style="color: blue;">{{employeeSalary.plateformeNom}}</p>
      </div>
    </div>
    <button mat-icon-button mat-dialog-close class="modal-close-button" aria-label="Close dialog" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="employeeSalaryForm" (ngSubmit)="submit()">
   
      <div class="row">
       
         <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Plateforme</mat-label>
            <mat-select formControlName="plateformeId" required>
             <mat-option *ngFor="let benef of plateformes" [value]="benef.id">
                          {{ benef.nom }} 
                        </mat-option>
            </mat-select>
            @if (employeeSalaryForm.get('plateformeId')?.hasError('required')) {
            <mat-error>
            La plateforme est obligatoire
            </mat-error>
            }
          </mat-form-field>
        </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Le montant</mat-label>
            <input matInput formControlName="montant" required>
            <mat-icon class="material-icons-outlined color-icon p-3" matSuffix>devise</mat-icon>
            @if (employeeSalaryForm.get('url')?.hasError('required')) {
            <mat-error>
            Le montant est obligatoire
            </mat-error>
            }
          </mat-form-field>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button mat-flat-button class="formSubmitBtn" [disabled]="!employeeSalaryForm.valid" [mat-dialog-close]="1"
              type="submit">{{ action === 'edit' ? 'Modifier' : 'Enregistrer' }}</button>
            <button mat-flat-button mat-dialog-close class="formCancelBtn" tabindex="-1">Annuler</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>