<h3 mat-dialog-title>Etes vous sur de vouloir supprimer</h3>
<div mat-dialog-content>
  <ul class="clearfix">
    <li>
      <p><span class="font-weight-bold">  </span>{{data.nom}} {{data.prenom}} ?</p>
    </li>
    <li>
      <p><span class="font-weight-bold"> Structure: </span>{{ data.structure }}</p>
    </li>
    <!--<li>
      <p>
        <span class="font-weight-bold">Email: </span>{{data.email}}
      </p>
    </li>-->
  </ul>
</div>
<div mat-dialog-actions class="mb-1">
  <button mat-flat-button class="formCancelBtn" [mat-dialog-close]="1" (click)="confirmDelete()">
    Oui je confirme
  </button>
  <button mat-flat-button mat-dialog-close color="accent" tabindex="-1">Non annuler</button>
</div>